@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    width: 100%;
}

html{
    width:100%
}
body{
font-family: 'Raleway';
margin:0px;
font-weight: 600;
width:100%;
height:100%;
margin:auto;
}
.contenant{
    width: 90%;
    margin:auto;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
    display:block;
}
a:visited{
    text-decoration: none;
    color:#0065FC;
}
h1{
    font-weight: 800;
    text-align:start;
    font-size: 1.5em;
    color:black;
    margin-bottom:15px;
}
h2{
    font-size:1em;
    font-weight: 800;
    text-align: start;
    color:black;
    margin-bottom:5px;
    margin-top:10px;
}
h1:visited, h2:visited, h3:visited{
    color:black;
}
h3{
    font-size:0.9em;
    font-weight: 500;
    text-align:start;
    color:black;
    margin-top:5px;
    margin-bottom:5px;
}

h4{
    font-size:0.8em;
    font-weight:normal;
    display:flex;
    flex-direction: row;
    margin-top:5px;
    margin-bottom:5px;
}
i.fas.fa-star{
    width:13px;
    height:13px;
    margin:0px 1px;
}
header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo{
    margin:0px;
    padding:20px 0px 0px 20px;
    width: 50%;
}
#logo img{
    width:110px;
    height:auto;
    text-align: start;
}

#head_ins{
    width: 40%;
    text-decoration: none;
    color:#0065FC;
    text-align:end;
    vertical-align: middle;
    font-weight:800;
    padding:35px 20px 0px 0px;

}
#head_act{
    width: 50%;
    border-bottom:solid 3px #F2F2F2;
    color:black;
    text-align:center;
    vertical-align: middle;
    padding:20px 0px 13px 0px;
}
#head_heb{
    width: 50%;
    border-bottom:solid 3px #F2F2F2;
    color:black;
    text-align:center;
    vertical-align: middle;
    padding:20px 0px 13px 0px;
}

#head_heb a:visited, #head_act a:visited {
    color:black;
}
#head_act a:hover, #head_heb a:hover{
    color:#0065FC;
}
#head_act:hover, #head_heb:hover{
    border-bottom: solid 3px #0065FC;
}


#section_recherche{
    display: flex;
    flex-direction: column;

}

#titre_recherche p{
    font-weight: normal;
    font-size:1.1em;
    margin-top:10px;
}
#champ_recherche{
    display:flex;
    width:100%;
    border-radius: 10px;
    justify-content: stretch;
    margin-top:20px;
    margin-bottom:20px;
}

#logo_localisation{
    width: 15%;
    height: 50px;
    background-color: #F2F2F2;
    color:black;
    display:flex;
    border-radius:15px 0px 0px 15px;
}
#logo_loc.fas.fa-map-marker-alt{
    margin:auto;
    text-align: center;

}

#saisie_texte{
    height:50px;
    width: 70%;
}
#saisie_texte input{
    height:50px;
    font-size: 1.2em;
    font-family: 'raleway';
    font-weight: 800;
    margin-left:10px;
}
 #localisation{
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right:none;
    border-left:none;
}
#bouton_rechercher_logo{
    width:15%;
    height:50px;
}
#bouton_rechercher_logo button{
    border-radius: 15px;
    border:none;
    height:50px;
    text-decoration: none;
    color:white;
    background-color:#0065FC ;
    position:relative;
    right:10px;
}
#section_recherche ul{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    justify-content: flex-start;
    margin-top:0px;
    
}

#bouton_rechercher_texte{
    display:none;
}

#section_recherche ul li{
    height: 50px;
    font-weight: bold;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius:30px;
    border-top:2px #d9d9d9 solid;
    border-right:2px #d9d9d9 solid;
    border-bottom:2px #d9d9d9 solid;
    margin-bottom:10px;
    margin-right:10px;
    width:auto;
}

#section_recherche ul li i{
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 30px;
    height:50px;
    width: 50px;
    display: flex;
    position:relative;
    bottom:2px
}
#section_recherche ul li i::before{
    margin:auto;
}
.titre_filtre{
    padding-left:10px;
    padding-right:10px;
    margin:auto;
    width: auto;
    font-weight: 800;
}
#section_recherche ul li:hover{
    color:white;
    background-color:#0065FC ;
}
#infos_recherche{
    display: flex;
    flex-direction: row;

}
#infos_recherche p{
    font-weight: 500;
    margin-top:0px;
    font-size:1em;
}

#infos_recherche i{
    font-size:0.8em;
    width:24px;
    height:24px;
    border-radius:100%;
    border:1px solid #dedede;
    color:#0065FC;
    display: flex;
    margin-right:10px;

}

.fas.fa-info::before{
    margin:auto;
}


/*Hebergements*/
#section_hebergements{
    display: flex;
    flex-direction: column;
    width: 100%;

}


#section_hebergements ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    margin-top:20px;
}



#liste_hébergements li {
    width:100%;
    height:auto;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d9d9d9;
    padding:5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image_heb{
    display: inline-block;
    background-position:center;
    background-size: cover;
    width:100%;
    height:115px;
    border-radius: 10px 10px 0px 00px;
}

#liste_hébergements .détails{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:auto;
    margin-left:10px;

}


#afficher_plus{
    font-size:1.2em;
    font-weight: 800;
    margin:15px 0px 40px;
}

#section_hebergements aside{
    margin-left: 0px;
    background-color: #f2f2f2;
    margin-top: 30px;
    order:-1;

}

#titre_populaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    margin:auto;
}
#titre_populaire i{
    width:8%;
    margin:auto;
    font-size:1.4em;
}


#liste_populaires{
    margin-top:0px;
    width:90%;
    margin:auto;
    margin-bottom:40px;
}

#liste_populaires li {

    width:100%;
    height:auto;
    margin: 5px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #f2f2f2;
    padding:5px;
    background-color: white;
}
#liste_populaires li a{
display: flex;
flex-direction: row;
}

 #liste_populaires .détails{
    display: flex;
    flex-direction: column;
    width:42%;
    margin:auto;
    margin-left:20px;

}
.image_pop{
    display: inline-block;
    background-position:center;
    background-size: cover;
    width:38%;
    height:auto;
    border-radius: 10px 0px 0px 10px;
}

.etoile_grise{
    display: flex;
    flex-direction: row;
    color:#d9d9d9;


}


/*Activités*/

#liste_activités li{
    display: flex;
    flex-direction: column;

}

#Liste_activités{
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
}


#Liste_activités li {
    width:100%;
    box-shadow: 2px 2px 10px #f2f2f2;
    background-color: white;
    margin:12px 0px;
    border-radius:20px;
}

.image_act{
    display: inline-block;
    background-position:center;
    background-size: cover;
    width:100%;
    height:135px;
    background-position:center;
    border-radius: 20px 20px 0px 0px;
}

.nom_act{
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}

/*footer*/
footer{
    background-color: #f2f2f2;

}

footer h2{
    width:80%;
    margin:auto;
    padding-top:45px;
    margin-bottom:20px;
}
footer ul {
    width:80%;
    margin:auto;
    padding-inline-start: 0px;
}
footer ul li{
    margin:8px 0px;
    font-weight: 500;
}


footer ul li a:visited{
    color:black;
}
#footer_3{
    padding-bottom:50px;
}

@media all and (min-device-width: 800px)
{
    header{
        width:100%;
        justify-content:space;
        flex-wrap: nowrap;
        padding-left:50px;
    }
    h1{
        margin:0px;
    }
    #head_ins{
        width: 11.11%;
        position:relative;
        left:7px;
        text-decoration: none;
        color:#0065FC;
        text-align:end;
        vertical-align: middle;
        font-weight:800;
        padding: 0px;
        margin:45px 80px 0px 0px;
        order:+2;
    }
    #head_act{
        width: 11.11%;
        border-bottom:none;
        color:black;
        text-align:center;
        vertical-align: middle;
        padding:45px 0px 0px 0px;
    }
    #head_heb{
        width: 11.11%;
        border-bottom:none;
        color:black;
        text-align:center;
        vertical-align: middle;
        padding:45px 0px 0px 0px;
    }
    #head_act:hover, #head_heb:hover{
        border-top: solid 3px #0065FC;
        color:#0065FC;
        border-bottom:none;
    }
    #logo{
        width: 65%;
        padding-left:0px   
    }

    #section_recherche{
        padding-left:50px;
        margin-left:0px;
    }

    #bouton_rechercher_logo{
        display: none;
    }
    #bouton_rechercher_texte{
        display: flex;
    }
    
    #bouton_rechercher_texte button{
        font-family: 'raleway';
        font-size:1em;
        border-radius: 0px 15px 15px 0px;
        border:none;
        width:135px;
        height:50px;
        text-decoration: none;
        color:white;
        background-color:#0065FC ;
        text-align: center;
    }
    #section_recherche ul li:nth-child(1){
        width:60px;
        margin-right: 30px;
    }
    #section_recherche ul li{
        flex-direction: row;
    }

    #section_hebergements{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left:50px;
        padding-top:30px;
    
    }
    #section_hebergements article{
    margin-right:20px;
    margin-left:0px;
    width:61%;
    background-color: #f2f2f2;
    border-radius:10px;
    }
    
    #section_hebergements ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-inline-start: 0px;
        padding-right:40px;
    }
    
    #section_hebergements h1{
        margin-left:40px;
        margin-top:40px;
    }

    #liste_hébergements li {
        width:225px;
        height: 200px;
        margin-left:0px;
        margin-left:30px;
        background-color: white;
    }
    
    .image_heb{
        width:225px;
        height:115px;
    }
    
    #afficher_plus{
        font-size:0.8em;
        font-weight: 700;
        margin:40px;
    }
    
    #section_hebergements aside{
        margin-left: 0px;
        order:+1;
        width: 29%;
        border-radius: 10px;
    }
    #titre_populaire{
        margin-left:0px;
    }
    
    #section_hebergements aside{
        margin-top:0px;
        }
    #titre_populaire i::before{
        margin-top:47px;
    
    }
    #liste_populaires{
        margin-top:0px;
        white-space:wrap;
    }
    
    #liste_populaires li {

        width:335px;
        height:135px;
        margin-top:15px;
        margin-bottom:15px;
        border-radius: 10px;
        margin-left:40px;
        white-space:normal;
    }
    #liste_populaires li a{
    display: flex;
    flex-flow: column wrap;
    height:145px;
    white-space:normal;
    }
    .nom_pop{
    white-space:normal;
    word-wrap: break-word;
}
    .image_pop{
        width:125px;
        height:135px;
    }

#section_Activités{
    padding-left:50px;
    padding-top:80px;
}

    #Liste_activités{
        margin-top:0px;
        padding-left:0px;
        margin-left:0px;
        padding-inline-start: 0px;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
    #Liste_activités li{
        padding-left:0px;
        margin-left:0px;
        width: 300px;
    }
    .image_act{
        width: 300px;
    }
    #Liste_activités li:nth-child(1){
        height: 445px;

    }
    #Liste_activités li:nth-child(1) a{
    height:445px;
    }
    .image_act:nth-child(1){
        height:390px;
    }


    #Liste_activités li:nth-child(2){
        height: 235px;
    }
    #Liste_activités li:nth-child(2) a{
        height:235px;
    }
    .image_act:nth-child(2){
        height:180px;
    }

    #Liste_activités li:nth-child(3){
        height: 165px;
    }
    #Liste_activités li:nth-child(3) a{
        height:165px;
    }
    .image_act:nth-child(3){
        height:105px;
    }

    #Liste_activités li:nth-child(4){
        height: 445px;
    }
    #Liste_activités li:nth-child(4) a{
        height:445px;
    }
    .image_act:nth-child(4){
        height:390px;
    }

    #Liste_activités li:nth-child(5){
        height: 195px;
    }
    #Liste_activités li:nth-child(5) a{
        height:195px;
    }
    .image_act:nth-child(5){
        height:140px;
    }

    #Liste_activités li:nth-child(6){
        height: 205px;
    }
    #Liste_activités li:nth-child(6) a{
        height:205px;
    }
    .image_act:nth-child(6){
        height:150px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height:220px;
        padding-top:45px;
    }
    #footer_2{
        margin-left:180px;
    }
    #footer_3{
        margin-left:250px;
    }
}